.listings {
    background-color: #ffffffc9;
    border-radius: 3px;
    border-bottom: 1px solid #e9dcdc96;
    width: 292px;
    border-radius: 6px;
    background: #fafafa;
    box-shadow: 20px 17px 30px 2px #d5d5d5, -20px -20px 60px #ffffff;
    height: 281px;
    display: flex;
    flex-direction: column;
    padding: 9px;
    /* border: 1px solid; */
    margin: 19px;
    position: relative;
}

.dish-img {
     height: 188px;
    /* width: 88px; */
    background-color: burlywood;
    border-radius: 8px;
}

.addbtn{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    width: 130px;
    font-weight: 500;
    margin-left: 27%;
    height: 46px;
    color: #000;
    /* margin: auto; */
    margin-bottom: 6px;

    background-color: #f5f4f4;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.addbtn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .addbtn:active {
    transform: translateY(-1px);
    
  }

.dish-name-Dish{
  font-size: 25px;
  margin-left: 0px;
  width: 280%;
  text-align: left;
}

.dish-rate-Dish{
  position: absolute;
  top: 57%;
  left: 78%;
}